################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages/directxtk_desktop_2015.2017.9.22.1
/.vs/ScriptHookV/v15
/Injector/x64/Release/Injector.tlog
