################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages/directxtk_desktop_2015.2017.9.22.1
/.vs/ScriptHookV/v15
/Injector/x64/Release/Injector.tlog
/.vs/ScriptHookV/v16/.suo
/.vs/ScriptHookV/v16/Browse.VC.db
/.vs/ScriptHookV/v16/Browse.VC.opendb
/.vs/ScriptHookV/v16/Browse.VC.opendb
/.vs/ScriptHookV/v16/ipch/AutoPCH/3c29158e88512407/MENU.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/6812aac0af9695c2/POOLSFUNC.ipch
/Build/Release/ProjectX.log
/Build/Release/Asi/Injector.exe
/Build/De/ScriptHookV.pdb
/Build/De/ScriptHookV.lib
/Build/De/ScriptHookV.ipdb
/Build/De/ScriptHookV.iobj
/Build/De/ScriptHookV.exp
/.vs/ScriptHookV/v16/Solution.VC.db-wal
/.vs/ScriptHookV/v16/Solution.VC.db-shm
/.vs/ScriptHookV/v16/Solution.VC.db
/.vs/ScriptHookV/v16/Server/sqlite3/storage.ide-wal
/.vs/ScriptHookV/v16/Server/sqlite3/storage.ide-shm
/.vs/ScriptHookV/v16/Server/sqlite3/storage.ide
/.vs/ScriptHookV/v16/Server/sqlite3/db.lock
/.vs/ScriptHookV/v16/ipch/AutoPCH/e0fbc644dfe1db3c/VEHICLE.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/d9682e337843ebad/HOOKING.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/d5a384a0cf0d1f3c/ANIMATION.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/d12731b22fdd4dd3/SCRIPTENGINE.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/c64194da6cfb4b67/LOG.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/a919e08655d28c0b/SCRIPTHOOKV.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/a07927c7bdee1fe9/SCRIPT.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/9adfc0f1ca4e49cb/SCRIPTHOOKV.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/8598417211b00026/NATIVES.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/8113178fa3c3b42/MAIN.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/7ad1ea4217a4e0bf/VERSIONING.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/6c7e03fbe2a85862/MENUSETTINGS.ipch
/.vs/ScriptHookV/v16/ipch/AutoPCH/6b9fccb630dbb6c9/NATIVEINVOKER.ipch
/Temp/ScriptHookV/Release/ScriptHookV.vcxproj.FileListAbsolute.txt
/Temp/ScriptHookV/Release/ScriptHookV.log
/Temp/ScriptHookV/Release/ProjectX.Build.CppClean.log
/Temp/ScriptHookV/De/weapon.obj
/Temp/ScriptHookV/De/Versioning.obj
/Temp/ScriptHookV/De/Veh_Setting.obj
/Temp/ScriptHookV/De/Vehicle.obj
/Temp/ScriptHookV/De/vc142.pdb
/Temp/ScriptHookV/De/translate.obj
/Temp/ScriptHookV/De/tinyxmlparser.obj
/Temp/ScriptHookV/De/tinyxmlerror.obj
/Temp/ScriptHookV/De/tinyxml.obj
/Temp/ScriptHookV/De/tinystr.obj
/Temp/ScriptHookV/De/teleport.obj
/Temp/ScriptHookV/De/ScriptManager.obj
/Temp/ScriptHookV/De/ScriptHookV.vcxproj.FileListAbsolute.txt
/Temp/ScriptHookV/De/ScriptHookV.tlog/ScriptHookV.write.1u.tlog
/Temp/ScriptHookV/De/ScriptHookV.tlog/ScriptHookV.lastbuildstate
/Temp/ScriptHookV/De/ScriptHookV.tlog/link.write.1.tlog
/Temp/ScriptHookV/De/ScriptHookV.tlog/link.read.1.tlog
/Temp/ScriptHookV/De/ScriptHookV.tlog/link.command.1.tlog
/Temp/ScriptHookV/De/ScriptHookV.tlog/CL.read.1.tlog
/Temp/ScriptHookV/De/ScriptHookV.tlog/CL.command.1.tlog
/Temp/ScriptHookV/De/ScriptHookV.tlog/CL.21772.write.1.tlog
/Temp/ScriptHookV/De/ScriptHookV.obj
/Temp/ScriptHookV/De/ScriptHookV.log
/Temp/ScriptHookV/De/ScriptHookV.Build.CppClean.log
/Temp/ScriptHookV/De/ScriptEngine.obj
/Temp/ScriptHookV/De/Script.obj
/Temp/ScriptHookV/De/Props.obj
/Temp/ScriptHookV/De/PoolsFunc.obj
/Temp/ScriptHookV/De/Pools.obj
/Temp/ScriptHookV/De/Player.obj
/Temp/ScriptHookV/De/PEImage.obj
/Temp/ScriptHookV/De/Path.obj
/Temp/ScriptHookV/De/online.obj
/Temp/ScriptHookV/De/NativeInvoker.obj
/Temp/ScriptHookV/De/Mods.obj
/Temp/ScriptHookV/De/menuutils.obj
/Temp/ScriptHookV/De/menusettings.obj
/Temp/ScriptHookV/De/menukeyboard.obj
/Temp/ScriptHookV/De/menucontrols.obj
/Temp/ScriptHookV/De/menu.obj
/Temp/ScriptHookV/De/Log.obj
/Temp/ScriptHookV/De/keyboard.obj
/Temp/ScriptHookV/De/InputHook.obj
/Temp/ScriptHookV/De/Hooking.obj
/Temp/ScriptHookV/De/General.obj
/Temp/ScriptHookV/De/Function.obj
/Temp/ScriptHookV/De/D3d11Hook.obj
/Temp/ScriptHookV/De/ASILoader.obj
/Temp/ScriptHookV/De/Animation.obj
/Temp/Injector/Release/Injector.vcxproj.FileListAbsolute.txt
/Temp/Injector/Release/Injector.log
/Temp/Injector/Release/Injector.Build.CppClean.log
/SDK/lib/ScriptHookV.lib
